[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.30.0"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = ["shell", "powershell"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["aarch64-apple-darwin", "x86_64-apple-darwin", "x86_64-unknown-linux-musl", "x86_64-pc-windows-msvc"]
# The archive format to use for non-windows builds (defaults .tar.xz)
unix-archive = ".tar.gz"
# Path that installers should place binaries in
install-path = "CARGO_HOME"
# Whether to install an updater program
install-updater = false
# Publish jobs to run in CI
publish-jobs = ["./publish-crate"]
# Which actions to run on pull requests
pr-run-mode = "plan"

[dist.github-custom-runners]
x86_64-unknown-linux-musl = "ubuntu-latest"
x86_64-pc-windows-msvc = "windows-latest"
global = "ubuntu-latest"

[dist.github-action-commits]
"actions/checkout" = "v5"
"actions/download-artifact" = "v5"
"actions/upload-artifact" = "v4"
