name: Publish to crates.io
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
jobs:
  publish:
    runs-on: ubuntu-latest
    environment: release
    container:
      image: rust:latest
    permissions:
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Cache cargo binaries
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
          key: cargo-bin-${{ runner.os }}-toml-cli-v1

      - name: Install toml-cli
        run: |
          if ! command -v toml-cli > /dev/null; then
            cargo install toml-cli
          fi
      - name: Check version
        run: test "v$(toml get -r Cargo.toml package.version)" = "${{ github.ref_name }}"
      - name: Get Auth Token
        uses: rust-lang/crates-io-auth-action@v1
        id: auth
      - name: Publish to crates.io
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
